*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;;
    background-color: rgb(214, 213, 213);
}

header{
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 50px;
}

h3{
    display: flex;
    justify-content: center;
    font-weight: normal;
}

main{
    margin: 15px 150px;
    border: 2px solid rgba(0, 0, 0, 0.685);
    height: 650px;
    padding: 25px 30px;
    font-size: 25px;
    max-width: 75%;
    background-color: rgb(168, 124, 209);
    border-radius: 5px;
}

.container{
    display: block;
}

form, label, button{
    display: flex;
    justify-content: center;
}

label{
    padding: 0;
    font-size: 20px;
}

input{
    padding-left: 5px;
    height: 22px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: none;
}

button{
    margin-top: 7px;
    padding: 5px;
    width: 180px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(78, 228, 78);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
